.demuReview-container {
    width: 80%;
    margin: 0 auto;
}

.demuReview-container h1 {
    font-weight: 600;
}

.demuReview-container button {
    background: blue;
    color: white;
    font-size: 14px;
    padding: 5px 32px;
    border-radius: 5px;
    transition: .1s;
}

.demuReview-container button:hover {
    background: rgb(23, 23, 200);
    padding: 6px 35px;

}