.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 75vh;
}

.banner-img img {}

.banner-img {
    width: 50%;
}

.banner-info {
    width: 50%;

}

.banner-info h1 {
    font-weight: 600;

}

.banner-info h5 {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    letter-spacing: 7px;
}

.demoBtn {
    background: blue;
    color: white;
    font-size: 16px;
    padding: 9px 19px;
    border-radius: 4px 4px 4px 24px;
    font-weight: 500;
}